a:active {
    color: orange;
}

a:visited {
    color: purple;
}

.red {
    background: red;
    height: 250px;
    width: 250px;
}

.blue {
    background: blue;
    height: 250px;
    width: 250px;
}

.yellow {
    background: yellow;
    height: 250px;
    width: 250px;
}

.red:hover {
    background: blue;
}

.blue:active {
    background-color: yellow;
}
